<.header>
  <.logo class="w-16 md:w-24 lg:w-32 xl:w-48" />
  <:actions>
    <.navlink href="/about">ABOUT</.navlink>
    <.navlink href="/samples">SAMPLES</.navlink>
    <.navlink href="/connect">CONNECT</.navlink>
  </:actions>
</.header>
<.flash_group flash={@flash} />
<main class="container min-w-full max-w-full overflow-hidden">
  <%= @inner_content %>
</main>
